<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- surname Column -->
    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.surname}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row" style="display:flex !important; justify-content:flex-end !important;">
        <button  mat-raised-button aria-label="Editar" class="button-margin" (click)="seeStudent(row)">Ver </button>
        <button  mat-raised-button aria-label="Borrar" class="button-margin" color="warn" (click)="deleteStudent(row)">Borrar
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator #paginator [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
