<div fxLayout="row">
  <div>
    <mat-icon mat-list-icon class="arrow-back" matTooltip="Volver" (click)="back()">arrow_back</mat-icon>
  </div>
  <div fxLayoutAlign="center center" class="size-title">
    Curso: {{nameCourse}}
  </div>
  <span class="example-spacer"></span>
  <button mat-raised-button class="size-button color-button-primary" (click)="addStudent()">Añadir alumno</button>
  <button mat-raised-button class="size-button" (click)="associateTeacher()">Asociar profesor</button>



</div>
<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- surname Column -->
    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.surname}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row" style="display:flex !important; justify-content:flex-end !important;">
        <button  mat-raised-button aria-label="Editar" class="button-margin" (click)="seeStudent(row)">Ver </button>
        <button  mat-raised-button aria-label="Eliminar" class="button-margin" color="warn" (click)="deleteStudent(row)">Eliminar
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator #paginator [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
