<div fxLayoutAlign="center center" class="padding-register-button">
  <button  mat-raised-button color="primary" (click)="addCircular()">Enviar circular</button>
</div>

<div fxLayout="row" class="filters" fxLayoutAlign="center center">

  <mat-form-field fxLayout="column" fxFlex="33" class="circular-search">
    <input matInput (keyup)="searchCircularBySubject($event.target.value)"
           placeholder="Buscar por asunto">
  </mat-form-field>

  <mat-form-field fxLayout="column" fxFlex="33" class="month-selector">
    <mat-select placeholder="Seleccionar mes" [(ngModel)]="monthSending" (ngModelChange)="filterByMonth()">
      <mat-option [value]="'all'">
        Cualquier mes
      </mat-option>
      <mat-option *ngFor="let month of months" [value]="month.value">
        {{ month.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>


<div class="example-container mat-elevation-z8">

  <mat-table class="table-circulars" #table [dataSource]="dataSource" matSort>

    <!-- subject Column -->
    <ng-container matColumnDef="subject">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Asunto </mat-header-cell>
      <mat-cell *matCellDef="let circular"> {{circular.subject}} </mat-cell>
    </ng-container>

    <!-- sendingDate Column -->
    <ng-container matColumnDef="sendingDate">
      <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef mat-sort-header> Fecha de envío </mat-header-cell>
      <mat-cell fxLayoutAlign="center center" *matCellDef="let circular"> {{circular.sendingDate.date | date:'dd-MM-yyyy'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef></mat-header-cell>
      <mat-cell fxLayoutAlign="center center" *matCellDef="let circular" style="display:flex !important; justify-content:flex-end !important;">
        <button mat-raised-button aria-label="Ver" class="button-margin" (click)="seeCircular(circular)">Ver</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator #paginator [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
