.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 500px;
  margin: 25px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.button-margin{
  margin: 4px;
}

.month-selector{
  margin-right: 10px;
}
.circular-search{
  margin-right: 10px;
}

.filters{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.padding-register-button{
  padding-top: 25px;
}

.table-circulars .mat-cell:nth-child(1),
.table-circulars .mat-header-cell:nth-child(1)
{
  flex: 0 0 50%;
}

.table-circulars .mat-cell:nth-child(2),
.table-circulars .mat-header-cell:nth-child(2)
{
  flex: 0 0 25%;
}

.table-circulars .mat-cell:nth-child(3),
.table-circulars .mat-header-cell:nth-child(3)
{
  flex: 0 0 25%;
}

