<div fxLayout="row" class="filters" fxLayoutAlign="center center">

  <mat-form-field fxLayout="column" fxFlex="33" style="margin-right: 10px;">
    <mat-select placeholder="Curso origen" [(ngModel)]="currentCourse1" (ngModelChange)="findStundentsByCourse1(($event))">
      <mat-option *ngFor="let course of courses1" [value]="course">
        {{ course.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxLayout="column" fxFlex="33">
    <mat-select [disabled]="courses2.length == 0" placeholder="Curso objetivo" [(ngModel)]="currentCourse2" (ngModelChange)="findStundentsByCourse2(($event))">
      <mat-option *ngFor="let course of courses2" [value]="course">
        {{ course.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div class="row">
  <div class="col-sm-5 mx-auto">
    <div class="card card-outline-primary mb-3" droppable [dropScope]="'swap-target-1'" [dragOverClass]="'drag-target-border'"
         [dragHintClass]="'drag-hint'" (onDrop)="onList1Drop($event)">
      <div class="card-header card-inverse card-primary title-curso" style="text-align: center;">{{currentCourse1 == null ? 'Curso origen sin especificar' : currentCourse1.name}}</div>
      <div class="card-block">
        <ul class="list-group">
          <li draggable *ngFor="let student of students1" [dragImage]="studentsAux1.length > 1 ? '../../../assets/img/block-students.png' : ''" [ngClass]="{'background-item': student.selected}" [dragScope]="'swap-target-2'" [dragClass]="'drag-over'" [dragData]="studentsAux1" (click)="selectedItem1(student)" (dragend)="drag1(student)" class="list-group-item ">
            {{student.name}} {{student.surname}} ({{student.course.name}})
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-5 mx-auto">
    <div class="card card-outline-primary mb-3" droppable [dropScope]="'swap-target-2'" [dragOverClass]="'drag-target-border'"
         [dragHintClass]="'drag-hint'" (onDrop)="onList2Drop($event)">
      <div class="card-header card-inverse card-primary title-curso">{{currentCourse2 == null ? 'Curso objetivo sin especificar' : currentCourse2.name}}</div>
      <div class="card-block">
        <ul class="list-group">
          <li draggable *ngFor="let student of students2" [dragImage]="studentsAux2.length > 1 ? '../../../assets/img/block-students.png' : ''" [ngClass]="{'background-item': student.selected}" [dragScope]="'swap-target-1'" [dragClass]="'drag-over'" [dragData]="studentsAux2" (click)="selectedItem2(student)" (dragend)="drag2(student)" class="list-group-item">
            {{student.name}} {{student.surname}} ({{student.course.name}})
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>




