.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 25px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.button-margin{
  margin: 4px;
}

.month-selector{
  margin-right: 10px;
}
.authorization-search{
  margin-right: 10px;
}

.filters{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.padding-register-button{
  padding-top: 25px;
}

.table-authorizations .mat-cell:nth-child(1),
.table-authorizations .mat-header-cell:nth-child(1)
{
  flex: 0 0 30%;
}

.table-authorizations .mat-cell:nth-child(2),
.table-authorizations .mat-header-cell:nth-child(2)
{
  flex: 0 0 20%;
}

.table-authorizations .mat-cell:nth-child(3),
.table-authorizations .mat-header-cell:nth-child(3)
{
  flex: 0 0 20%;
}

.table-authorizations .mat-cell:nth-child(4),
.table-authorizations .mat-header-cell:nth-child(4)
{
  flex: 0 0 30%;
}

.color-date{
  color:red;
}
.color-limitdate{
  background-color: #FFA051;
  color: white;
}
