<header>
  <h3 style="text-align: center">Editar cuenta</h3>
</header>
<form class="example-container" name="changeInformationForm" [formGroup]="changeInformationForm">
  <mat-form-field>
    <input matInput placeholder="Usuario *" formControlName="username" [(ngModel)]="changeInformationForm['username']">
    <mat-error>
      El nombre de usuario es obligatorio
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nombre *" formControlName="name" [(ngModel)]="changeInformationForm['name']">
    <mat-error>
      El nombre es obligatorios
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nueva contraseña" type="password" formControlName="password" [(ngModel)]="changeInformationForm['newPassword']">
    <mat-error>
      La contraseña es obligatoria
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nueva contraseña (Confirmar)" type="password" formControlName="password" [(ngModel)]="changeInformationForm['newPasswordConfirm']">
    <mat-error>
      La contraseña es obligatoria
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Contraseña *" type="password" formControlName="password" [(ngModel)]="changeInformationForm['password']">
    <mat-error>
      La contraseña es obligatoria
    </mat-error>
  </mat-form-field>

</form>
<div class="footer" fxLayout="row" fxLayoutAlign="center center">
  <button mat-button type="button" (click)="onNoClick('cancel')">Cancelar</button>
  <button mat-button color="primary" type="submit" [disabled]="changeInformationForm.invalid" (click)="edit()">Editar</button>
</div>
