<header>
  <h3 style="text-align: center">Añadir alumno</h3>
</header>
<div *ngIf="students.length == 0">
  <h5 style="color:red; margin: 50px;">No hay alumnos sin curso.</h5>
</div>
<form *ngIf="students.length > 0" class="example-container" name="addCourseForm" [formGroup]="addStudentForm">
  <mat-form-field>
    <input matInput placeholder="Alumno *" [matAutocomplete]="auto" [formControl]="studentCtrl" (ngModelChange)="checkForm()">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let student of filteredStudents | async" [value]="student">
        <span>{{ student.name }} {{ student.surname }}</span>
      </mat-option>
    </mat-autocomplete>
    <mat-error>
      El nombre del alumno es obligatorio
    </mat-error>
  </mat-form-field>
</form>
<div class="footer" fxLayout="row" fxLayoutAlign="center center">
  <button *ngIf="students.length > 0" mat-button type="button" (click)="onNoClick('cancel')">Cancelar</button>
  <button *ngIf="students.length == 0" mat-button type="button" (click)="onNoClick('cancel')">Salir</button>
  <button *ngIf="students.length > 0" mat-button color="primary" type="submit" [disabled]="!submit" (click)="add()">Añadir</button>
</div>
