
<div style="min-width: 700px !important;">

  <header>
    <h3 style="text-align: center">Enviar autorización</h3>
  </header>
  <form class="example-container" name="addCourseForm" [formGroup]="sendAuthorizationForm">

    <div fxLayout="row" class="padding-form">

      <div fxLayout="column" fxFlex="50" class="space-columns">

        <mat-form-field>
          <input matInput placeholder="Asunto *" formControlName="subject" [(ngModel)]="sendAuthorizationForm['subject']">
          <mat-error>
            El asunto de la autorización es obligatorio
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" formControlName="limitDate" [(ngModel)]="sendAuthorizationForm['limitDate']" placeholder="Fecha Limite *">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>
            La fecha límite es obligatoria
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Descripción" formControlName="message" [(ngModel)]="sendAuthorizationForm['message']"></textarea>
        </mat-form-field>

        <input hidden type="file"
               id="file"
               (change)="handleFileInput($event.target.files)" #fileInput>
        <button mat-raised-button type="button" class="size-button" color="primary" (click)="fileInput.click()">Seleccionar documento</button>
        <div *ngIf="fileToUpload !== null">
          <span>{{nameFile}}</span>
        </div>

      </div>

      <div fxLayout="column" fxFlex="50">
        <h5>Destinatarios</h5>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <button mat-icon-button disabled></button>
            <mat-checkbox class="checklist-leaf-node"
                          [checked]="checklistSelection.isSelected(node)"
                          (change)="checklistSelection.toggle(node);">{{node.item}}</mat-checkbox>
          </mat-tree-node>


          <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'toggle ' + node.filename">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <mat-checkbox [checked]="descendantsAllSelected(node)"
                          [indeterminate]="descendantsPartiallySelected(node)"
                          (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
          </mat-tree-node>
        </mat-tree>
      </div>

    </div>

  </form>
  <div class="footer" fxLayout="row" fxLayoutAlign="center center">
    <button mat-button type="button" (click)="onNoClick('cancel')">Cancelar</button>
    <button mat-button color="primary" type="submit" [disabled]="sendAuthorizationForm.invalid" (click)="add()">Enviar</button>
  </div>

</div>


