.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

header {
  padding: 0px !important;
}

.footer {
  padding: 16px;
  height: 48px !important;
  min-height: 48px !important;
  max-height: 48px !important;
}

.space-columns{
  padding-right: 20px;
}

.padding-form{
  padding-top: 30px;
}

.button-width{
  width: 60%;
}
