.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 500px;
  overflow: auto;
  margin: 25px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.button-margin{
  margin: 4px;
}

.course-selector{
  margin-right: 10px;

}
.student-search{
}

.filters{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.padding-register-button{
  padding-top: 25px;
}
