<header>
  <h3 style="text-align: center" cdkFocusRegionstart>{{data.authorization.subject}}</h3>
</header>

<div fxLayout="row" class="margin-dates">
  <div fxFlex="40" fxLayout="column" fxLayoutAlign="center start">
    <div>
      <span class="dates">Fecha de envío: {{data.authorization.sendingDate.date | date:'dd-MM-yyyy' }}</span>
    </div>
    <div>
      <span class="dates">Fecha límite: {{data.authorization.limitDate.date | date:'dd-MM-yyyy'}}</span>
    </div>
  </div>
  <div fxFlex="60" fxLayout="column" >
    <span class="dates">Descripción</span>
    <textarea style="min-height: 100px" readonly="readonly">{{data.authorization.message}}</textarea>
  </div>
</div>

<div fxLayout="row" style="margin-top:25px;">
  <div fxLayout="column" fxFlex="50" fxLayoutAlign="center" >
    <span class="dates" style="text-align: center; margin-bottom: 25px;">Autorizados</span>
    <div style="height: 100px !important; overflow-y: scroll !important;">
      <div *ngFor="let auth of authorized" fxLayoutAlign="center">
        <span>({{auth.student.course.name}}) {{auth.student.name}} {{auth.student.surname}}</span>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxFlex="50" fxLayoutAlign="center">
    <span class="dates" style="text-align: center; margin-bottom: 25px;">No autorizados</span>
    <div style="height: 100px !important; overflow-y: scroll !important;">
      <div *ngFor="let auth of noAuthorized" fxLayoutAlign="center">
        <span>({{auth.student.course.name}}) {{auth.student.name}} {{auth.student.surname}}</span>
      </div>
    </div>
  </div>
</div>

<div class="footer" fxLayout="row" fxLayoutAlign="center center">
  <button mat-button type="button" (click)="onNoClick()">Salir</button>
</div>
