<div fxLayout="row">
  <div fxLayoutAlign="center center" class="size-title">
    Centro: {{nameCentre}}
  </div>
  <span class="example-spacer"></span>
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
  <button mat-raised-button class="size-button" (click)="addCourse()">Añadir curso</button>
  <input hidden type="file"
         id="file"
         (change)="handleFileInput($event.target.files)" accept=".csv" #fileInput>
  <button mat-raised-button class="size-button" color="primary" (click)="fileInput.click()">Importar curso</button>
  </div>
</div>
<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- nameCourse Column -->
    <ng-container matColumnDef="nameCourse">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- numberOfStudents Column -->
    <ng-container matColumnDef="numberOfStudents">
      <mat-header-cell *matHeaderCellDef mat-sort-header> NºAlumnos </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.numberOfStudents}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row" style="display:flex !important; justify-content:flex-end !important;">
        <button  mat-raised-button aria-label="Editar" class="button-margin" (click)="seeStudents(row)">Ver</button>
        <button  mat-raised-button aria-label="Eliminar" class="button-margin" color="warn" (click)="deleteCourse(row)">Eliminar
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator #paginator [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
