<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="open">
      <h3 class="title-sidenav">Centro</h3>
      <mat-list role="list">
        <mat-list-item (click)="changeView(1)" [ngClass]="{'background-item': showComponent == 1 || showComponent == 2 || backView == 2}" class="cursor" role="listitem">
          <mat-icon mat-list-icon>folder</mat-icon>
          Cursos
        </mat-list-item>
        <mat-list-item (click)="changeView(4)" [ngClass]="{'background-item': showComponent == 4 || backView == 4}" class="cursor" role="listitem">
          <mat-icon mat-list-icon>people</mat-icon>
          Alumnos
        </mat-list-item>
        <mat-list-item (click)="changeView(8)" [ngClass]="{'background-item': showComponent == 8}" class="cursor" role="listitem">
          <mat-icon mat-list-icon>school</mat-icon>
          Profesores
        </mat-list-item>
      </mat-list>


      <h3 class="title-sidenav">Mensajería</h3>
      <mat-list role="list">
        <mat-list-item class="cursor" role="listitem" (click)="changeView(5)" [ngClass]="{'background-item': showComponent == 5}">
          <mat-icon mat-list-icon>create</mat-icon>
          Autorizaciones
        </mat-list-item>
        <mat-list-item class="cursor" role="listitem" (click)="changeView(6)" [ngClass]="{'background-item': showComponent == 6}">
          <mat-icon mat-list-icon>content_paste</mat-icon>
          Circulares
        </mat-list-item>
        <mat-list-item class="cursor" role="listitem" (click)="changeView(7)" [ngClass]="{'background-item': showComponent == 7}">
          <mat-icon mat-list-icon>poll</mat-icon>
          Encuestas
        </mat-list-item>
      </mat-list>
    </mat-drawer>

  <mat-drawer-content>
    <div>
    <mat-toolbar>
      <div (click)="drawer.toggle()">
        <mat-icon class="size-icon cursor" mat-list-icon>view_headline</mat-icon>
      </div>
      <div class="linea-vertical"></div>
      <span class="example-spacer"></span>
      <div class="cursor">
        <mat-icon mat-list-icon matTooltip="Cerrar sesión" [matTooltipPosition]="'left'" (click)="logout()">input</mat-icon>
      </div>
    </mat-toolbar>
  </div>

    <div *ngIf="showComponent == 1">
      <app-courses (update)="hideCoursesComponent($event)"></app-courses>
    </div>

    <div *ngIf="showComponent == 2">
      <app-students nameCourse="{{nameCourse}}" idCourse="{{idCourse}}" idCentre="{{idCentre}}" (update)="hideStudentsComponent($event)"></app-students>
    </div>

    <div *ngIf="showComponent == 3">
      <app-profile-student idStudent="{{idStudent}}" backView="{{backView}}" (update)="hideProfileStudentComponent($event)"></app-profile-student>
    </div>

    <div *ngIf="showComponent == 4">
      <app-all-students (update)="hideAllStudentsComponent($event)"></app-all-students>
    </div>

    <div *ngIf="showComponent == 5">
      <app-authorizations></app-authorizations>
    </div>

    <div *ngIf="showComponent == 6">
      <app-circulars></app-circulars>
    </div>

    <div *ngIf="showComponent == 7">
      <app-polls></app-polls>
    </div>

    <div *ngIf="showComponent == 8">
      <app-teachers></app-teachers>
    </div>

  </mat-drawer-content>

</mat-drawer-container>
