.example-container {
  width: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100vh;
  width: 40px;
  align-items: start;
  justify-content: left;
  background-color: white;
}

.example-sidenav {
  padding: 20px;
}
