<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h3>Centro</h3>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon>folder</mat-icon>Cursos
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon>people</mat-icon>Alumnos
      </mat-list-item>
    </mat-list>

    <h3>Mensajería</h3>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon>create</mat-icon>Autorizaciones
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon>content_paste</mat-icon>Circulares
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon mat-list-icon>poll</mat-icon>Encuestas
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon mat-list-icon>view_headline</mat-icon>
    </button>
  </div>

</mat-drawer-container>
