.border-card{
  margin: 25px;
  height: auto;
}

header{
  padding: 10px;
  font-size: 17px;
  color: white;
  background-color: darkcyan;
}

.margin-info{
  margin: 25px;
}

.arrow-back{
  font-size: 40px !important;
  margin: 25px;
  cursor: pointer;
}

.size-title{
  font-size: 35px;
  margin-top: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

.size-button{
  margin: 15px;
}
