<div fxLayout="row">
  <div>
    <mat-icon mat-list-icon class="arrow-back" matTooltip="Volver" (click)="back()">arrow_back</mat-icon>
  </div>
  <div fxLayoutAlign="center center" class="size-title">
    Alumno: {{nameStudent}} {{surnameStudent}}
  </div>
  <span class="example-spacer"></span>
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <button mat-raised-button class="size-button" (click)="editStudent()">Editar alumno</button>
    <button mat-raised-button class="size-button color-button-primary" (click)="asociatedParents()">Asociar padres</button>
  </div>

</div>
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxFlex="25" class="border-card mat-elevation-z8">
    <header style="margin-bottom: 10px">
      Información del alumno
    </header>
    <div fxLayout="column" class="margin-info">
      <div>
        <div>
          <span class="h5">Nombre: </span>{{nameStudent}}
        </div>
      </div>
      <div>
        <div>
          <span class="h5">Apellidos: </span>{{surnameStudent}}
        </div>
      </div>
      <div>
        <div>
          <span class="h5">Curso: </span>{{courseStudent}}
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxFlex="25" class="border-card mat-elevation-z8">
    <header style="margin-bottom: 10px">
      Padres/Madres/Tutores legales
    </header>
    <div fxLayout="column" class="margin-info" *ngIf="parents.length == 0">
      <div>
        <div>
          <span class="h5">Nombre: </span>Sin especificar
        </div>
      </div>
      <div>
        <div>
          <span class="h5">Teléfono: </span>Sin especificar
        </div>
      </div>
    </div>
    <div fxLayout="column" class="margin-info" *ngFor="let parent of parents">
      <div>
        <div>
          <span class="h5">Nombre: </span>{{parent.name}}
        </div>
      </div>
      <div>
        <div>
          <span class="h5">Teléfono: </span>{{parent.telephone}}
        </div>
      </div>
    </div>
  </div>
</div>
