<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxFlex="25" class="border-card mat-elevation-z8">
    <header>
      Información del alumno
    </header>
    <div fxLayout="column" class="margin-info">
      <div>
        <div class="h4">Nombre</div>
        <div>{{nameStudent}}</div>
      </div>
      <div>
        <div class="h4">Apellidos</div>
        <div>{{surnameStudent}}</div>
      </div>
      <div>
        <div class="h4">Curso</div>
        <div>{{courseStudent}}</div>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxFlex="25" class="border-card mat-elevation-z8">
    <header>
      Padres/Madres/Tutores legales
    </header>
    <div fxLayout="column" class="margin-info">
      <div>
        <div class="h4">Nombre</div>
        <div>Padre</div>
      </div>
      <div>
        <div class="h4">Teléfono</div>
        <div>650182206</div>
      </div>
    </div>
  </div>
</div>
