<div fxLayout="row">
  <div>
    <mat-icon mat-list-icon class="arrow-back" matTooltip="Volver" (click)="back()">arrow_back</mat-icon>
  </div>
  <div fxLayoutAlign="center center" class="size-title">
    Alumno: {{nameStudent}} {{surnameStudent}}
  </div>
</div>
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center start">
  <div fxLayout="column" fxFlex="25" class="border-card mat-elevation-z8">
    <header>
      Información del alumno
    </header>
    <div fxLayout="column" class="margin-info">
      <div>
        <div class="h4">Nombre</div>
        <div>{{nameStudent}}</div>
      </div>
      <div>
        <div class="h4">Apellidos</div>
        <div>{{surnameStudent}}</div>
      </div>
      <div>
        <div class="h4">Curso</div>
        <div>{{courseStudent}}</div>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxFlex="25" class="border-card mat-elevation-z8">
    <header>
      Padres/Madres/Tutores legales
    </header>
    <div fxLayout="column" class="margin-info" *ngFor="let parent of parents">
      <div>
        <div class="h4">Nombre</div>
        <div>{{parent.name}}</div>
      </div>
      <div>
        <div class="h4">Teléfono</div>
        <div>{{parent.telephone}}</div>
      </div>
    </div>
  </div>
</div>
